name: LSUSB Self Test

permissions:
  contents: read

on:
  push:
    branches:
      - master
    paths:
      - lsusb
  pull_request:
    branches:
      - master
    paths:
      - lsusb

jobs:
  lsusb-test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      
      - name: Test LSUSB
        run: ./lsusb
